<nav class="container breadcrumbs">
    <ul>
        <li>
            <a href="{{ site.baseurl }}">Homepage</a>
        </li>
        {% if page.breadcrumbs %}
        {% for crumb in page.breadcrumbs %}
        <li>
            {% if crumb.url %}<a href="{{ crumb.url | relative_url }}">{% endif %}
                {{ crumb.label }}
            {% if crumb.url %}</a>{% endif %}
        </li>
        {% endfor %}
        {% endif %}
        <li>
            {{ page.title }}
        </li>
    </ul>
</nav>