<nav class="container breadcrumbs">
    <ul>
        <li>
            <a href="{{ site.baseurl }}">Homepage</a>
        </li>
        {% if page.breadcrumbs %}
        {% for crumb in page.breadcrumbs %}
        <li>
            {% if crumb.url %}<a href="{{ crumb.url }}">{% endif %}
                {{ crumb.label }}
            {% if crumb.url %}</a>{% endif %}
        </li>
        {% endfor %}
        {% endif %}
        <li>
            {% if page.contentful.title %}
            {{ page.contentful.title | escape }}
            {% elsif page.contentful.name %}
            {{ page.contentful.name | escape }}
            {% else %}
            {{ page.title }}
            {% endif %}
        </li>
    </ul>
</nav>