<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link type="text/plain" rel="author" href="{{ 'humans.txt' | relative_url }}" />

  <link rel="stylesheet" type="text/css" href="{{ site.data.static.vendor | relative_url }}/tooltipster/dist/css/tooltipster.bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.data.static.vendor | relative_url }}/tooltipster/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.data.static.vendor | relative_url }}/tooltipster-follower/dist/css/tooltipster-follower.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.data.static.vendor | relative_url }}/jquery-modal/jquery.modal.min.css" />
  <link rel="stylesheet" href="{{ site.data.static.css | relative_url }}/main.css">

  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">
  <link rel="shortcut icon" type="image/png" href="{{ 'favicon.png' | relative_url }}">
</head>
