<img
{% if include.image.title %}
alt="{{ include.image.title }}"
{% endif %}
class="lazyload{% if include.class %} {{ include.class }}{% endif %}"
data-sizes="auto"
{% if include.image.url %}
{% assign name = include.image.url | split: "/" | last %}
data-src="{{ site.data.static.images | relative_url }}/{{ name }}"
src="{{ site.data.static.images | relative_url }}/{{ name }}"
{% else %}
src="{{ site.data.static.images | relative_url }}/placeholder.png"
{% endif %}
>
{% if include.caption %}
<p class="caption">
    {% if include.link %}
    <a href="{{ include.link }}">
        {% endif %}
        {{ include.caption }}
        {% if include.link %}
    </a>
    {% endif %}
</p>
{% endif %}