---
layout: default
---
{% assign collection = site.collections | where: "label", page.collection | first %}

<div class="container">
    <h1 class="page-heading">Explore countries</h1>
    {% for item in collection.docs %}
    {% assign introduction = item.contentful.country_introduction.chapters[0] %}
    {% assign introduction_image = item.contentful.country_introduction.chapters | where: "sys.content_type_id", "image" | first %}

    <div class="column-ten-twelveth collapsed">
        <div class="card">
            <div class="container">
                <div class="column-eight-tenth card-content">
                    <h2 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h2>
                    <p>{{ introduction.body }}</p>
                </div>
                <div class="column-two-tenth card-content">
                    {% include image.html image=introduction_image.image %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>