---
layout: default
---

<nav class="container breadcrumbs">
    <ul>
        <li>
            <a href="#">Homepage</a>
        </li>
        <li>
            This page
        </li>
    </ul>
</nav>

<article class="country">
    {% assign self = page.contentful %}
    {% assign introduction = self.country_introduction.chapters[0] %}
    {% assign introduction_image = self.country_introduction.chapters[1] %}
    {% assign chapters = self.country_introduction.chapters | offset:2 %}

    <header class="container">
        <h1>{{ self.name | escape }}</h1>
    </header>

    <div class="container featured-chapter">
        <div class="column-five-twelveth">
            <p>{{ introduction.body | markdownify }}</p>
            <a href="/featured_site/{{ self.featured_site.slug }}.html" class="button orange more">View featured rock art site</a>
        </div>

        <div class="column-seven-twelveth">
         {% include image.html image=introduction_image.image caption=introduction_image.caption class="full-width" %}
     </div>
 </div>

 <div class="container">
    <h2>Highlight images</h2>
    <p><a href="#">Browse rock art on collections online</a></p>
    <div class="card column-one-third">
        <a href="#"><img src="" alt=""></a>
        <a href="#" class="more">Read more about this image</a>
    </div>
    <div class="card column-one-third">
        <a href="#"><img src="" alt=""></a>
        <a href="#" class="more">Read more about this image</a>
    </div>
    <div class="card column-one-third">
        <a href="#"><img src="" alt=""></a>
        <a href="#" class="more">Read more about this image</a>
    </div>
</div>

    {% comment %}
    Looping all the chapters except the introduction
    I will add the expand/collapse function after - Ginestra
    {% endcomment %}
    <div class="container chapter">
        {% include chapters.html chapters=self.country_introduction.chapters %}
    </div>

    <div class="container">
        <h2>Related content</h2>
        <div class="card column-one-third">
            <a href="#"><img src="" alt=""></a>
            <h3><a href="#">Introduction to rock art in northern Africa</a></h3>
            <a href="#" class="more">Find out more</a>
        </div>
        <div class="card column-one-third">
            <a href="#"><img src="" alt=""></a>
            <h3><a href="#">The art of the warrior</a></h3>
            <a href="#" class="more">Find out more</a>
        </div>
        <div class="card column-one-third">
        </div>
    </div>
</article>
