<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body{% if page.url == "/" %} class="home"{% endif %}>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXX"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    {% if page.url == '/country/' or page.url == '/thematic/' %}
    <div class="banner{% if page.url == '/country/' %} country{% else %} themes{% endif %}">
    </div>
    {% endif %}

    {% if page.url != "/" %}
    <div class="super-wrap">
      {% include breadcrumbs.html %}
    </div>
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="{% if page.url != '/' %}super-wrap{% else %}wrapper{% endif %}">
        {{ content }}
      </div>
    </main>

    <div class="super-wrap">
      {% include footer.html %}
    </div>

    {% include footer_javascripts.html %}

  </body>

</html>
