---
layout: default
---

<div class="gallery container">
    <header>
        <h1 class="post-title">{{ page.title | escape }}</h1>
    </header>

    <div class="container">
        {% for image in site.data.gallery.images %}
        <div class="column-two-twelveth">
            <div class="card">
                <div class="card-image">
                    <a href="">
                        <img alt="{{ image.registration }}" class="lazyload" data-srcset="{{ site.data.static.gallery | relative_url }}/140/{{ image.registration }}.jpg 140w, {{ site.data.static.gallery | relative_url }}/196/{{ image.registration }}.jpg 196w" data-src="{{ site.data.static.gallery | relative_url }}/{{ image.registration }}.jpg" src="{{ site.data.static.gallery | relative_url }}/low/{{ image.registration }}.jpg">
                    </a>
                </div>
                <div class="card-content">
                    <a href="" class="more">{{ image.registration }}</a>
                    {{ image.description | truncatewords: 10 }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</article>
